// Colors
$nitro-primary-blue: #5bacc3;
$nitro-primary-pink: #fff0ed;

$nitro-neutral-graphite: #393939;
$nitro-neutral-light-gray: #f7f7f7;
$nitro-neutral-white: #fff;
$nitro-neutral-alternate: #909090;

.link-active {
  color: #5bacc3 !important;
}
